# Combining and Exporting Data - TASK

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# T1: If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe
#     per the instructions in this Exercise,do so now. - DONE

In [3]:
# T2: Export the merged file in pickle format as “orders_products_combined.pkl” - DONE

In [4]:
# T3: In a new notebook, importing the orders_products_combined dataframe from the pickle file you just saved. - DONE

In [5]:
# Importing prods_checked Data
path = r'C:\Users\eminc\OneDrive\A  - Career Foundry\Data Immersion\A4 Python Fundamentals for Data Analysts\01-2023 Instacart Basket Analysis'

In [6]:
df_prods_1 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_checked.csv'), index_col = False)

In [7]:
df_prods_1.shape

(49672, 6)

In [8]:
df_prods_1.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Identified column 'Unnamed: 0' in df_prods, which is not needed,therefore deleting.

In [10]:
df_prods = df_prods_1.drop(columns = ['Unnamed: 0'])

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods.shape

(49672, 5)

In [13]:
# T3: Importing merged data 'orders_products_combined.pkl' from Prepared Data - Folder

In [14]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [15]:
# T4: Check the shape of the imported dataframe (it should be the same as the one you exported—always check!). - Checked both

In [16]:
df_orders_products_combined.shape

(32434489, 11)

In [17]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [18]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
dtypes: category(1), float64(1), int64(8), object(1)
memory usage: 2.7+ GB

In [19]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [20]:
# T5: Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
#     Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder
#     from the previous Exercise’s task.

In [21]:
df_ords_prods_merged = df_orders_products_combined.merge(df_prods, on = 'product_id')

In [22]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [23]:
df_ords_prods_merged.shape

(32404859, 15)

In [24]:
df_ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
dtypes: category(1), float64(2), int64(10), object(2)
memory usage: 3.7+ GB

In [25]:
# T6: Confirm the results of the merge using the merge flag.
#     Checking the frequency of merge, which matches exactly with number of rows.Therefore results are confirmed.

In [26]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
# T7: Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [29]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))